/* Mixins */
/* line 32, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-h5bp-0.0.2/stylesheets/h5bp/_normalize.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section {
  display: block;
}

/* line 33, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-h5bp-0.0.2/stylesheets/h5bp/_normalize.scss */
audio, canvas, video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}

/* line 34, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-h5bp-0.0.2/stylesheets/h5bp/_normalize.scss */
audio:not([controls]) {
  display: none;
}

/* line 35, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-h5bp-0.0.2/stylesheets/h5bp/_normalize.scss */
[hidden] {
  display: none;
}

/* line 17, ../sass/partials/_overrides.scss */
html {
  font-size: 100%;
  overflow-y: scroll;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

/* line 19, ../sass/partials/_overrides.scss */
body {
  margin: 0;
  font-size: 1em;
  line-height: 1.5rem;
}
@media screen and (min-width: 60em) {
  /* line 19, ../sass/partials/_overrides.scss */
  body {
    line-height: 1.688rem;
  }
}

/* line 21, ../sass/partials/_overrides.scss */
body, button, input, select, textarea {
  font-family: sans-serif;
  color: #111111;
}

/* line 61, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-h5bp-0.0.2/stylesheets/h5bp/_normalize.scss */
::-moz-selection {
  background: #666633;
  color: white;
  text-shadow: none;
}

/* line 62, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-h5bp-0.0.2/stylesheets/h5bp/_normalize.scss */
::selection {
  background: #666633;
  color: white;
  text-shadow: none;
}

/* line 70, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-h5bp-0.0.2/stylesheets/h5bp/_normalize.scss */
a {
  color: #003366;
}

/* line 71, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-h5bp-0.0.2/stylesheets/h5bp/_normalize.scss */
a:visited {
  color: #333366;
}

/* line 72, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-h5bp-0.0.2/stylesheets/h5bp/_normalize.scss */
a:hover {
  color: #6699cc;
}

/* line 73, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-h5bp-0.0.2/stylesheets/h5bp/_normalize.scss */
a:focus {
  outline: thin dotted;
}

/* line 76, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-h5bp-0.0.2/stylesheets/h5bp/_normalize.scss */
a:hover, a:active {
  outline: 0;
}

@media screen and (min-width: 60em) {
  /* line 35, ../sass/partials/_overrides.scss */
  body {
    line-height: 1.688rem;
  }
}

/* line 39, ../sass/partials/_overrides.scss */
abbr[title] {
  border-bottom: 1px dotted;
}

/* line 41, ../sass/partials/_overrides.scss */
b, strong {
  font-weight: bold;
}

/* line 42, ../sass/partials/_overrides.scss */
em em {
  font-style: italic;
  font-weight: bold;
}

@media screen and (min-width: 48em) {
  /* line 44, ../sass/partials/_overrides.scss */
  blockquote {
    margin-left: -0.75rem;
    padding-left: .74rem;
  }
}
@media screen and (min-width: 60em) {
  /* line 44, ../sass/partials/_overrides.scss */
  blockquote {
    margin-left: -1.5rem;
    padding-left: 1.49rem;
  }
}

/* line 48, ../sass/partials/_overrides.scss */
dfn {
  font-style: italic;
}

/* line 50, ../sass/partials/_overrides.scss */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/* line 52, ../sass/partials/_overrides.scss */
ins {
  background: #ff9;
  color: #000;
  text-decoration: none;
}

/* line 54, ../sass/partials/_overrides.scss */
mark {
  background: #ff0;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

/* line 57, ../sass/partials/_overrides.scss */
pre, code, kbd, samp {
  font-family: monospace, serif;
  _font-family: 'courier new', monospace;
  font-size: 1em;
}

/* line 60, ../sass/partials/_overrides.scss */
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}

/* line 62, ../sass/partials/_overrides.scss */
q {
  quotes: none;
}

/* line 63, ../sass/partials/_overrides.scss */
q:before, q:after {
  content: "";
  content: none;
}

/* line 65, ../sass/partials/_overrides.scss */
small {
  font-size: .75rem;
}

/* line 68, ../sass/partials/_overrides.scss */
sub, sup {
  font-size: .5rem;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

/* line 69, ../sass/partials/_overrides.scss */
sup {
  top: -0.5em;
}

/* line 70, ../sass/partials/_overrides.scss */
sub {
  bottom: -0.25em;
}

/* line 72, ../sass/partials/_overrides.scss */
h1, h2, h3, h4, h5, h6, dt {
  color: #003366;
}

/* line 73, ../sass/partials/_overrides.scss */
h1 {
  font-size: 2.25rem;
}

/* line 76, ../sass/partials/_overrides.scss */
h2 {
  font-size: 1.688rem;
}

/* line 79, ../sass/partials/_overrides.scss */
h3, *[role=complimentary] dt {
  font-size: 1.5rem;
}

/* line 83, ../sass/partials/_overrides.scss */
h4, h5, h6 {
  font-size: 1.125rem;
  font-weight: bold;
}

/* line 85, ../sass/partials/_overrides.scss */
p, blockquote {
  font-size: 1rem;
}

/* line 89, ../sass/partials/_overrides.scss */
img + p, aside + p, p + p, figure + p, figcaption + p, blockquote + p, q + p {
  text-indent: 1.5rem;
}

/* line 120, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-h5bp-0.0.2/stylesheets/h5bp/_normalize.scss */
ul, ol {
  margin: 1em 0;
  padding: 0 0 0 40px;
}

/* line 121, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-h5bp-0.0.2/stylesheets/h5bp/_normalize.scss */
dd {
  margin: 0 0 0 40px;
}

/* line 122, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-h5bp-0.0.2/stylesheets/h5bp/_normalize.scss */
nav ul, nav ol {
  list-style: none;
  list-style-image: none;
  margin: 0;
  padding: 0;
}

/* line 133, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-h5bp-0.0.2/stylesheets/h5bp/_normalize.scss */
img {
  border: 0;
  -ms-interpolation-mode: bicubic;
  vertical-align: middle;
}

/* line 137, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-h5bp-0.0.2/stylesheets/h5bp/_normalize.scss */
svg:not(:root) {
  overflow: hidden;
}

/* line 145, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-h5bp-0.0.2/stylesheets/h5bp/_normalize.scss */
figure {
  margin: 0;
}

/* line 113, ../sass/partials/_overrides.scss */
form {
  margin: 0;
}

/* line 114, ../sass/partials/_overrides.scss */
fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/* line 117, ../sass/partials/_overrides.scss */
label {
  cursor: pointer;
  color: #003366;
}

/* line 122, ../sass/partials/_overrides.scss */
legend {
  border: 0;
  *margin-left: -7px;
  padding: 0;
}

/* line 128, ../sass/partials/_overrides.scss */
button, input, select, textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle;
}

/* line 132, ../sass/partials/_overrides.scss */
button, input {
  line-height: normal;
}

/* line 138, ../sass/partials/_overrides.scss */
button, input[type="button"], input[type="reset"], input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button;
  *overflow: visible;
}

/* line 142, ../sass/partials/_overrides.scss */
input[type="checkbox"], input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}

/* line 143, ../sass/partials/_overrides.scss */
input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

/* line 144, ../sass/partials/_overrides.scss */
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/* line 148, ../sass/partials/_overrides.scss */
button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/* line 153, ../sass/partials/_overrides.scss */
textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}

/* line 156, ../sass/partials/_overrides.scss */
input:valid, textarea:valid {
  background-color: #99cc99;
}

/* line 157, ../sass/partials/_overrides.scss */
input:invalid, textarea:invalid {
  background-color: #cc9999;
}

/* line 159, ../sass/partials/_overrides.scss */
button, input[type=submit] {
  font-size: 1.5rem;
  padding: .44rem .75rem;
  -moz-border-radius: 0.25rem;
  -webkit-border-radius: 0.25rem;
  -o-border-radius: 0.25rem;
  -ms-border-radius: 0.25rem;
  -khtml-border-radius: 0.25rem;
  border-radius: 0.25rem;
  -moz-transition: color 0.6s ease, background 0.3s ease, border 0.3s ease;
  -webkit-transition: color 0.6s ease, background 0.3s ease, border 0.3s ease;
  -o-transition: color 0.6s ease, background 0.3s ease, border 0.3s ease;
  transition: color 0.6s ease, background 0.3s ease, border 0.3s ease;
}

/* line 205, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-h5bp-0.0.2/stylesheets/h5bp/_normalize.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 206, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-h5bp-0.0.2/stylesheets/h5bp/_normalize.scss */
td {
  vertical-align: top;
}

/* line 5, ../sass/partials/_page.scss */
body, select, input, textarea {
  color: #111111;
}

/* line 15, ../sass/partials/_page.scss */
body > * {
  margin: 0 auto;
}
@media screen and (min-width: 48em) {
  /* line 15, ../sass/partials/_page.scss */
  body > * {
    width: 48rem;
  }
}
@media screen and (min-width: 60em) {
  /* line 15, ../sass/partials/_page.scss */
  body > * {
    width: 60rem;
  }
}

/* line 7, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-h5bp-0.0.2/stylesheets/h5bp/_helpers.scss */
.ir {
  display: block;
  border: 0;
  text-indent: -999em;
  overflow: hidden;
  background-color: transparent;
  background-repeat: no-repeat;
  text-align: left;
  direction: ltr;
  *line-height: 0;
}
/* line 24, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-h5bp-0.0.2/stylesheets/h5bp/_helpers.scss */
.ir br {
  display: none;
}

/* line 9, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-h5bp-0.0.2/stylesheets/h5bp/_helpers.scss */
.hidden {
  display: none !important;
  visibility: hidden;
}

/* line 11, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-h5bp-0.0.2/stylesheets/h5bp/_helpers.scss */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
/* line 43, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-h5bp-0.0.2/stylesheets/h5bp/_helpers.scss */
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

/* line 13, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-h5bp-0.0.2/stylesheets/h5bp/_helpers.scss */
.clearfix {
  *zoom: 1;
}
/* line 53, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-h5bp-0.0.2/stylesheets/h5bp/_helpers.scss */
.clearfix:before, .clearfix:after {
  content: "";
  display: table;
}
/* line 54, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-h5bp-0.0.2/stylesheets/h5bp/_helpers.scss */
.clearfix:after {
  clear: both;
}

/* Media Queries are include in the _page to take advantage of bubbling out features */
@media print {
  /* line 11, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-h5bp-0.0.2/stylesheets/h5bp/_media.scss */
  * {
    background: transparent !important;
    color: black !important;
    box-shadow: none !important;
    text-shadow: none !important;
    filter: none !important;
    -ms-filter: none !important;
  }

  /* line 12, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-h5bp-0.0.2/stylesheets/h5bp/_media.scss */
  a, a:visited {
    text-decoration: underline;
  }

  /* line 13, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-h5bp-0.0.2/stylesheets/h5bp/_media.scss */
  a[href]:after {
    content: " (" attr(href) ")";
  }

  /* line 14, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-h5bp-0.0.2/stylesheets/h5bp/_media.scss */
  abbr[title]:after {
    content: " (" attr(title) ")";
  }

  /* line 15, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-h5bp-0.0.2/stylesheets/h5bp/_media.scss */
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after {
    content: "";
  }

  /* line 16, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-h5bp-0.0.2/stylesheets/h5bp/_media.scss */
  pre, blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /* line 17, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-h5bp-0.0.2/stylesheets/h5bp/_media.scss */
  thead {
    display: table-header-group;
  }

  /* line 18, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-h5bp-0.0.2/stylesheets/h5bp/_media.scss */
  tr, img {
    page-break-inside: avoid;
  }

  /* line 19, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-h5bp-0.0.2/stylesheets/h5bp/_media.scss */
  img {
    max-width: 100% !important;
  }

  @page {
    margin: 0.5cm;
}

  /* line 21, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-h5bp-0.0.2/stylesheets/h5bp/_media.scss */
  p, h2, h3 {
    orphans: 3;
    widows: 3;
  }

  /* line 22, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-h5bp-0.0.2/stylesheets/h5bp/_media.scss */
  h2, h3 {
    page-break-after: avoid;
  }
}
