// ==|== normalize =======================================================

// =============================================================================
// HTML5 display definitions
// =============================================================================
@include h5bp-display;

// =============================================================================
// Base
// =============================================================================
//@include h5bp-base

	// 1. Correct text resizing oddly in IE6/7 when body font-size is set using em units
	// 2. Force vertical scrollbar in non-IE
	// 3. Prevent iOS text size adjust on device orientation change, without disabling user zoom: h5bp.com/g

	html { font-size: 100%; overflow-y: scroll; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }

	body { margin: 0; font-size: 1em; @include line-height; }

	body, button, input, select, textarea { font-family: sans-serif; color: $font-color; }

@include h5bp-selection;

// =============================================================================
// Links
// =============================================================================
@include h5bp-links;

// =============================================================================
// Typography
// Scale: http://modularscale.com/scale/?px1=16&px2=12&ra1=1.5&ra2=0
// =============================================================================
//@include h5bp-typography;
body {
	@media screen and (min-width: 60em) { line-height: 27px; line-height: 1.688rem; }
}

abbr[title] { border-bottom: 1px dotted; }

b, strong { font-weight: bold; }
em em { font-style: italic; font-weight: bold; }

blockquote {
	@include side-line;
}

dfn { font-style: italic; }

hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }

ins { background: #ff9; color: #000; text-decoration: none; }

mark { background: #ff0; color: #000; font-style: italic; font-weight: bold; }

// Redeclare monospace font family: h5bp.com/j
pre, code, kbd, samp { font-family: monospace, serif; _font-family: 'courier new', monospace; font-size: 1em; }

// Improve readability of pre-formatted text in all browsers
pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; }

q { quotes: none; }
q:before, q:after { content: ""; content: none; }

small { font-size: 12px; font-size: .75rem; }

// Position subscript and superscript content without affecting line-height: h5bp.com/k
sub, sup { font-size: 8px; font-size: .5rem; line-height: 0; position: relative; vertical-align: baseline; }
sup { top: 8px; top: -0.5em; }
sub { bottom: -4px; bottom: -0.25em; }

#{headings()}, dt { color: $blue; }
h1 {
	font-size: 36px;
	font-size: 2.25rem;
}
h2 {
	font-size: 27px;
	font-size: 1.688rem;
}
h3, *[role=complimentary] dt {
	font-size: 24px;
	font-size: 1.5rem;
}

#{headings(4,6)} { font-size: 18px; font-size: 1.125rem; font-weight: bold; }

p, blockquote {
	font-size: 16px;
	font-size: 1rem;
}

img + p, aside + p, p + p, figure + p, figcaption + p, blockquote + p, q + p {
	text-indent: 24px;
	text-indent: 1.5rem;
}

// =============================================================================
// Lists
// =============================================================================
@include h5bp-lists;

// =============================================================================
// Embedded content
// =============================================================================
@include h5bp-embeds;

// =============================================================================
// Figures
// =============================================================================
@include h5bp-figures;

// =============================================================================
// Forms
// =============================================================================
//@include h5bp-forms;

form { margin: 0; }
fieldset { border: 0; margin: 0; padding: 0; }

// Indicate that 'label' will shift focus to the associated form element
label { cursor: pointer; color: $blue; }

// 1. Correct color not inheriting in IE6/7/8/9
// 2. Correct alignment displayed oddly in IE6/7

legend { border: 0; *margin-left: -7px; padding: 0; }

// 1. Correct font-size not inheriting in all browsers
// 2. Remove margins in FF3/4 S5 Chrome
// 3. Define consistent vertical alignment display in all browsers

button, input, select, textarea { font-size: 100%; margin: 0; vertical-align: baseline; *vertical-align: middle; }

// 1. Define line-height as normal to match FF3/4 (set using !important in the UA stylesheet)

button, input { line-height: normal; }

// 1. Display hand cursor for clickable form elements
// 2. Allow styling of clickable form elements in iOS
// 3. Correct inner spacing displayed oddly in IE7 (doesn't effect IE6)

button, input[type="button"], input[type="reset"], input[type="submit"] { cursor: pointer; -webkit-appearance: button; *overflow: visible; }

// Consistent box sizing and appearance

input[type="checkbox"], input[type="radio"] { box-sizing: border-box; padding: 0; }
input[type="search"] { -webkit-appearance: textfield; -moz-box-sizing: content-box; -webkit-box-sizing: content-box; box-sizing: content-box; }
input[type="search"]::-webkit-search-decoration { -webkit-appearance: none; }

// Remove inner padding and border in FF3/4: h5bp.com/l

button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }

// 1. Remove default vertical scrollbar in IE6/7/8/9
// 2. Allow only vertical resizing

textarea { overflow: auto; vertical-align: top; resize: vertical; }

// Colors for form validity
input:valid, textarea:valid { background-color: $valid-background-color; }
input:invalid, textarea:invalid { background-color: $invalid-background-color; }

button, input[type=submit] {
@include buttonification;
}

// =============================================================================
// Tables
// =============================================================================
@include h5bp-tables;
